# Запрещаем все инклуды и батник
scripting/include/*
include/*
*.bat
AIM.sp
*.exe

# Разрешаем инклуду режима
!scripting/include/tf2items.inc
!scripting/include/morecolors.inc
!scripting/include/advancedsaxtonhale.inc
!scripting/include/tf2attributes.inc
!scripting/include/tf2wearables.inc
!scripting/include/SteamWorks.inc
!scripting/include/saxtonhale.inc